a {
    color: inherit;
}

.logo {
    display: block;
    padding-top: 118px;
    padding-bottom: 27px;
}

.txt-div {
    display: block;
    align-content: flex-start;
    width: 584px;
    height: 46px;
    padding: 8px 40px 0px 37px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.txt-div:focus, .txt-div:hover {
    box-shadow: 0px 0px 4px 0px rgba(71, 69, 69, 0.5);
}

.txt-field {
    border: none;
    width: 487px;
    height: 34px;
    margin: -37px 0px 0px;
    font: 16px arial,sans-serif;;
}

.txt-field:focus {
    outline: none;
}

.div-btns {
    padding: 18px 30px 0px 19px;
}

.button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0px 16px;
    margin: 11px 4px;
}

.submit-btn {
    width: 127.5px;
    height: 36px;
}

.lucky-btn {
    width: 142.5px;
    height: 36px;
}

.button:hover {
    background-color: #f3f3f3;
    border: 1px solid #c7c7c7;
    color: black;
    box-shadow: 0px 1px 0.5px 0px rgba(71, 69, 69, 0.1);
}

.button:focus { 
    outline: none;
    border: 1px solid #4d90fe;
}




















.appbar {
    color: #d93025;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 25px 35px;
    height: 23px;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
}

.appbar > label {
    height: 22px;
}

.adv-form-div {
    margin: 40px 2% 0 45px;
}

.adv-txt-label {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.adv-txt-field {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    text-align: left;
    height: 29px;
    width: 68%;
    padding: 1px 8px;
}

.adv-txt-field-sm {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    text-align: left;
    height: 29px;
    width: 100%;
    padding: 1px 8px;
}

#to {
    display:table-cell;
    min-width:52px;
    padding-right:6px;
    padding-left:6px;
    text-align:center;
    font-size:13px;
    color:#222;
    vertical-align: middle;
}

.txt-tcell {
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

.inp-tcell {
    vertical-align: top;
    min-width: 167px;
    width: 70%;
}

.adv-txt-field-sm-div {
    display: table-cell;
    vertical-align: top;
    min-width: 10px;
    width: 45%;
    max-width: 100%;
}

























html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    text-decoration: none;
}